.typing-effect {
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    color: #fff;
    border: solid 1px;
    min-width: 700px;
  
    .cursor {
      animation: blink 0.7s infinite;
    }

    margin-bottom: 40px;
  }
  
  @keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }

  @media (max-width: 768px) {
    .typing-effect {
      font-size: 1.5rem;
      min-width: auto;


      .cursor {
        display: none;
      }
    }
  }