::ng-deep .mat-toolbar {
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Efeito de sombra
    position: relative;
    z-index: 100;
    background: transparent !important;
    color: silver !important;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: calc(100% - 100px); // 50px de cada lado
    margin: 0 auto;
    padding: 0 70px;
    box-sizing: border-box;
  }
  
  .title {
    font-size: 28px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  nav {
    display: flex;
    align-items: center;
  
    a {
      margin-left: 16px;
      color: silver;
      text-decoration: none;
      font-size: 16px;
    }
  }
  
  // Media query para telas menores
  @media (max-width: 768px) {
    .header-container {
      max-width: 100%;
      padding: 0 10px;
    }
  }