<mat-toolbar>
  <div class="header-container">
    <span class="title" (click)="navigateToHome()">Luã Falcão</span>
    <span class="spacer"></span>
    <!-- Adicionando um botão de menu para telas menores -->
    <button mat-icon-button class="menu-button" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- Envolvendo a navegação em um div para controle de exibição -->
    <div class="nav-container" [class.nav-open]="isMenuOpen">
      <nav>
        <a mat-button routerLink="/projetos" routerLinkActive="active">Works</a>
        <a mat-button routerLink="/sobre" routerLinkActive="active">About</a>
        <a mat-button (click)="abrirModal()">Contact me</a>
        <a mat-button href="https://www.linkedin.com/in/luafalcao/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
        <a mat-button href="https://github.com/lpjfalcao" target="_blank" rel="noopener noreferrer">GitHub</a>
      </nav>
    </div>
  </div>
</mat-toolbar>