<div class="projects-container">
  <h1 class="titulo-com-sombra">PROJETOS EM QUE ATUEI</h1>
  <div class="projects-grid">
    <app-project-card
      [imageSrc]="'assets/img/jucerja.png'"
      [title]="'Portal Web JUCERJA'"
      [description]="'Migração tecnológica do Portal Web da JUCERJA onde atuei como Front-end desenvolvendo interfaces de usuário com design responsivo.'"
      [projectType]="'FRONT-END'"
      [projectLink]="'https://www.jucerja.rj.gov.br/'"
      [projectTypeStyle]="'front-end'">
    </app-project-card>
    
    <app-project-card
      [imageSrc]="'assets/img/braslight.png'"
      [title]="'Portal Web Braslight'"
      [description]="'Migração tecnológica do Portal Web da Braslight Seguros para uma tecnologia mais moderna onde atuei como Full-Stack desenvolvendo interfaces de usuário e Web APIs.'"
      [projectType]="'FULL-STACK'"
      [projectTypeStyle]="'full-stack'"
      [projectLink]="'https://www.braslight.com.br/v3'">
    </app-project-card>
    
    <app-project-card
      [imageSrc]="'assets/img/econtador.png'"
      [title]="'e-Contador'"
      [description]="'Desenvolvimento de aplicativo para o setor contábil em iOS para iPhones e iPads onde fiquei responsável pela publicação do produto na App Store e implementação de funcionalidades como download de documentos e Push Notifications.'"
      [projectType]="'MOBILE'"
      [projectTypeStyle]="'mobile'"
      [projectLink]="'https://apps.apple.com/br/app/alterdata-e-contador/id1411356193'">
    </app-project-card>

    <app-project-card
      [imageSrc]="'assets/img/oi.png'"
      [title]="'Sistema Jurídico Oi'"
      [description]="'Atuação como Full-Stack onde estive trabalhando com métodos ágeis como membro de uma squad e desenvolvendo interfaces de usuário e Web APIs para o setor jurídico da Oi.'"
      [projectType]="'FULL-STACK'"
      [projectTypeStyle]="'full-stack'">
    </app-project-card>
    
    <app-project-card
      [imageSrc]="'assets/img/prudential.png'"
      [title]="'Sistema de Seguros Prudential'"
      [description]="'Desenvolvimento de interfaces de usuário e Web APIs para a Prudential do Brasil no ramo de seguros onde estive interagindo com pessoas de diferentes empresas para alinhar as atividades do projeto.'"
      [projectType]="'FULL-STACK'"
      [projectTypeStyle]="'full-stack'">
    </app-project-card>
    
    <app-project-card
      [imageSrc]="'assets/img/capemisa.png'"
      [title]="'Portal Web Capemisa'"
      [description]="'Realizei manutenção do Portal Web da capemisa Seguros para fazer integração com Web Service SOAP para exibir informaçãoes relevantes para o usuário.'"
      [projectType]="'FULL-STACK'"
      [projectTypeStyle]="'full-stack'"
      [projectLink]="'https://www.capemisa.com.br/'">
    </app-project-card>

    <app-project-card
      [imageSrc]="'assets/img/meuproconrj.png'"
      [title]="'Meu PROCON RJ'"
      [description]="'Desenvolvimento do app Meu PROCON RJ onde fiquei responsável pela construção de interfaces de usuário com design responsivo para plataformas Android e iOS, além de ajudar na publicação do aplicativo na App Store.'"
      [projectType]="'MOBILE'"
      [projectLink]="'http://www.procon.rj.gov.br/index.php/publicacao/detalhar/1573'"
      [projectTypeStyle]="'mobile'">
    </app-project-card>

    <app-project-card
      [imageSrc]="'assets/img/itau.png'"
      [title]="'Sistema de Prevenção de Fraudes'"
      [description]="'Atuação no Banco Itaú em um sistema de prevenção de fraudes onde além de desenvolver interfaces de usuário e Web APIs dei suporte à produção aos usuários e fiz melhorias na arquitetura do sistema.'"
      [projectType]="'FULL-STACK'"
      [projectTypeStyle]="'full-stack'">
    </app-project-card>

    <app-project-card
      [imageSrc]="'assets/img/akad.png'"
      [title]="'Sistema de Seguros Akad'"
      [description]="'Atuei em diferentes projetos no setor de seguros como Back-end desenvolvendo funcionalidades no lado do servidor para agregar valor ao negócio do cliente atuando com microsserviços e sistemas distribuídos.'"
      [projectType]="'BACK-END'"
      [projectLink]="'https://digital.akadseguros.com.br/login?utm_source=site&utm_medium=botao&utm_campaign=portal-do-corretor'"
      [projectTypeStyle]="'back-end'">
    </app-project-card>

  </div>
</div>