.projects-container {
    padding: 50px;
}
  
.projects-grid {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza os elementos */
    gap: 10px; /* Reduz o espaço entre os componentes */
}

.projects-grid > app-project-card {
    flex: 0 1 auto; /* Permite que os cards se ajustem ao tamanho do conteúdo */
    margin: 5px; /* Reduz ainda mais a margem entre os cards */
}

.titulo-com-sombra {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h1 {
  padding-left: 100px;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .projects-container {
    padding: 10px;
  }

  .projects-grid {
    padding-left: 0px;
    padding-right: 0px;
  }

  h1 {
    padding-left: 10px;
    font-size: 1.5em;
    text-align: center;
  }
}

.ver-mais-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.ver-mais-btn {
  font-size: 1.1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }

  mat-icon {
    margin-left: 0.5rem;
    vertical-align: middle;
  }
}

.ver-mais-btn {
  background-color: #007bff; /* Cor de fundo azul */
  color: white; /* Texto branco */
  border: none; /* Remove a borda */
  padding: 10px 20px; /* Espaçamento interno */
  font-size: 16px; /* Tamanho da fonte */
  font-weight: bold; /* Texto em negrito */
  text-transform: uppercase; /* Texto em maiúsculas */
  border-radius: 5px; /* Cantos arredondados */
  cursor: pointer; /* Cursor de mão ao passar o mouse */
  transition: background-color 0.3s ease; /* Transição suave para o hover */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra sutil */  
  margin-bottom: 100px;
}

.ver-mais-btn:hover {
  background-color: #0056b3; /* Cor mais escura ao passar o mouse */
}