
.project-card {
    padding: 16px;
    margin: 16px;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Efeito de sombra
    transition: transform 0.2s; // Transição suave
}

.project-card img {
    width: 100%;
    height: auto;
    height: 250px;
}

.project-type {
    background-color: #e0e0e0;
    padding: 4px 8px;
    border-radius: 4px;
    display: inline-block;
    margin-top: 8px;
    font-size: 12px;
}

.front-end {
    background-color: #ffe0b3; // Cor de fundo laranja claro
    color: #ff8c00; // Cor do texto laranja escuro
    padding: 4px 8px;
    border-radius: 4px;
    display: inline-block;
    font-weight: bold;
}

.full-stack {
    background-color: #c1f0c1; // Cor de fundo verde claro
    color: #00a000; // Cor do texto verde escuro
    padding: 4px 8px;
    border-radius: 4px;
    display: inline-block;
    font-weight: bold;
}

.back-end {
    background-color: #e6e6fa; // Cor de fundo roxo claro
    color: #8a2be2; // Cor do texto roxo escuro
    padding: 4px 8px;
    border-radius: 4px;
    display: inline-block;
    font-weight: bold;
}

.mobile {
    background-color: #ffcccb; // Cor de fundo vermelho claro
    color: #dc143c; // Cor do texto vermelho escuro
    padding: 4px 8px;
    border-radius: 4px;
    display: inline-block;
    font-weight: bold;
}

.project-card h2 {
    margin-top: 8px;
    font-weight: 500;
}

.project-card a {
    display: inline-block;
    margin-top: 8px;
    text-decoration: none;
    color: #007bff;
}