<div class="main-container">
  <div class="grid-container">
    <mat-grid-list cols="2" rowHeight="fit" gutterSize="20">
      <mat-grid-tile>
        <div class="tile-content main">
          <app-typing-effect [text]="'Software Engineer'" [typingSpeed]="50"></app-typing-effect>
          <p>Full-Stack Engineer with {{ yearsOfExperience - 1 }} of experience working in IT developing enterprise applications.</p>
   
          <button mat-raised-button class="subtle-neon-button" (click)="downloadResume()">
            See resume
          </button>
        </div>
      </mat-grid-tile>
      
      <!-- ... resto do código ... -->
    </mat-grid-list>
  </div>
</div>