<div class="main-container">
  <div class="grid-container">
    <mat-grid-list cols="2" rowHeight="fit" gutterSize="20">
      <mat-grid-tile>
        <div class="tile-content main">
          <h1>Desenvolvedor de Software</h1>
          <p>Profissional com experiência no desenvolvimento de software empresarial com atuação em diversos projetos de diferentes empresas.</p>
          <a href="#" class="cta-button">ver currículo ></a>
        </div>
      </mat-grid-tile>
      
      <!-- <mat-grid-tile>
        <div class="tile-content animation-container">
          teste
        </div>
      </mat-grid-tile> -->
    </mat-grid-list>
  </div>
</div>