.main-container {
  margin: 0 auto; // Centraliza o container
  padding-left: 100px;
  background-image: url('../../../../../assets/img/waves.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  margin-top: -63px;
}

.grid-container {
  height: calc(100vh - 64px); // Subtrai a altura padrão da mat-toolbar
  padding: 150px 20px; // Aumenta o espaço no topo
  box-sizing: border-box;
  z-index: 5;
}

mat-grid-list {
  height: 100%;
}

mat-grid-tile {
  overflow: visible;
}

.tile-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.main {
  h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.2em;
    max-width: 600px;
    margin-bottom: 20px;
    color: silver
  }

  .cta-button {
    text-decoration: none;
    color: #00BFFF;
  }
}

mat-grid-tile:nth-child(1) {
  height: 60% !important;
}

mat-grid-tile:nth-child(2) {
  height: 20% !important;
}

mat-grid-tile:nth-child(3) {
  height: 20% !important;
}

.illustration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

svg {
  max-width: 100%;
  height: auto;
  max-height: 300px; // Ajuste conforme necessário
}

.subtle-neon-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  border: 1px solid rgba(3, 233, 244, 0.3);
  border-radius: 4px;
  transition: all 0.3s ease;
  cursor: pointer;
  outline: none;
  
  color: #03e9f4 !important;
  background-color: rgba(3, 233, 244, 0.05) !important;
  border-color: #03e9f4;
  box-shadow: 0 0 15px rgba(3, 233, 244, 0.5);
  text-shadow: 0 0 5px rgba(3, 233, 244, 0.5);

  &:hover {
    background-color: rgba(3, 233, 244, 0.05);
  }
  
  &:active {
    background-color: rgba(3, 233, 244, 0.2);
  }
}
