.main-container {
  margin: 0 auto; // Centraliza o container
  padding: 20px; // Ajusta o padding para telas menores
  background-image: url('../../../../../assets/img/waves.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  margin-top: -63px;
  padding-left: 110px;

}

.grid-container {
  height: calc(100vh - 64px); // Subtrai a altura padrão da mat-toolbar
  padding: 50px 20px; // Ajusta o espaço no topo para telas menores
  box-sizing: border-box;
  z-index: 5;
}

mat-grid-list {
  height: 100%;
}

mat-grid-tile {
  overflow: visible;
}

.tile-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.main {
  h1 {
    font-size: 2.5em; // Ajusta o tamanho da fonte para telas menores
    margin-bottom: 20px;
  }

  p {
    font-size: 1em; // Ajusta o tamanho da fonte para telas menores
    max-width: 100%; // Permite que o texto ocupe toda a largura disponível
    margin-bottom: 20px;
    color: silver;
  }

  .cta-button {
    text-decoration: none;
    color: #00BFFF;
  }
}

mat-grid-tile:nth-child(1) {
  height: 60% !important;
}

mat-grid-tile:nth-child(2) {
  height: 20% !important;
}

mat-grid-tile:nth-child(3) {
  height: 20% !important;
}

.illustration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

svg {
  max-width: 100%;
  height: auto;
  max-height: 300px; // Ajuste conforme necessário
}

.subtle-neon-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  border: 1px solid rgba(3, 233, 244, 0.3);
  border-radius: 4px;
  transition: all 0.3s ease;
  cursor: pointer;
  outline: none;
  
  color: #03e9f4 !important;
  background-color: rgba(3, 233, 244, 0.05) !important;
  border-color: #03e9f4;
  box-shadow: 0 0 15px rgba(3, 233, 244, 0.5);
  text-shadow: 0 0 5px rgba(3, 233, 244, 0.5);

  &:hover {
    background-color: rgba(3, 233, 244, 0.05);
  }
  
  &:active {
    background-color: rgba(3, 233, 244, 0.2);
  }
}

// Media query para telas menores
@media (max-width: 768px) {
  .main-container {
    padding: 10px; // Reduz o padding em telas menores
    padding-top: 60px;
    padding-left: 0;
  }

  .grid-container {
    padding: 20px; // Reduz o padding em telas menores
  }

  .main {
    h1 {
      font-size: 2em; // Ajusta o tamanho da fonte para telas menores
    }

    p {
      font-size: 0.9em; // Ajusta o tamanho da fonte para telas menores
    }
  }

  .subtle-neon-button {
    min-width: 200px;
  }

  .tile-content {
    padding: 7px;
  }
}

@media (min-width: 1624px) {
  .main-container {
    padding: 10px; // Reduz o padding em telas menores
    padding-top: 60px;
    padding-left: 90px;
  }
}
