<div class="main-container">
  <div class="grid-container">
    <mat-grid-list cols="2" rowHeight="fit" gutterSize="20">
      <mat-grid-tile>
        <div class="tile-content main">
          <app-typing-effect [text]="'Engenheiro de Software'" [typingSpeed]="50"></app-typing-effect>
          <p>Profissional Full-Stack com {{ yearsOfExperience }} de experiência no mercado de TI com atuação em diversos projetos em diferentes empresas.</p>
          <br />
          <button mat-raised-button class="subtle-neon-button">
            Ver currículo
          </button>
        </div>
      </mat-grid-tile>
      
      <!-- ... resto do código ... -->
    </mat-grid-list>
  </div>
</div>