::ng-deep .mat-toolbar {
    background: #000 !important;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.global-learning-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: #fff;
  }
  
  .content {
    flex: 1;
    padding-right: 2rem;
    margin-top: 100px;
    padding-left: 100px;
  
    h1 {
      font-size: 3.5rem;
      color: #333;
      margin-bottom: 1rem;
      font-weight: bold;
    }
  
    p {
      font-size: 1.2rem;
      color: #666;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
  
  .image-and-stats {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image-container {
    width: 70%;
    margin-bottom: 2rem;
  
    img {
      width: 100%;
      height: auto;
      border-radius: 8px;
    }
  }
  
  .stats-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    width: 100%;
  
    .stat-item {
      text-align: center;
  
      .stat-value {
        font-size: 2.1rem;
        font-weight: bold;
        color: #007bff;
      }
  
      .stat-label {
        margin-top: 0.5rem;
        font-size: 1.1rem;
        color: #666;
      }
    }
  }
  
  @media (max-width: 768px) {
    .global-learning-container {
      flex-direction: column;
    }
  
    .content {
      padding-right: 0;
      margin-bottom: 2rem;
    }
  
    .image-container {
      width: 100%;
    }
  
    .stats-grid {
      grid-template-columns: 1fr;
    }
  }

  .timeline-container {
    margin-top: 150px;
  }
