<div class="global-learning-container">
    <div class="content">
      <h1>{{ title }}</h1>
      <div class="text-description">
        <p>{{ description }}</p>
        <p>{{ subDescription }}</p>
        <p>{{ subDescription2 }}</p>
      </div>
    </div>
    <div class="image-and-stats">
      <div class="image-container">
        <img src="assets/img/me.jpg" alt="Pessoas trabalhando juntas">
      </div>
      <div class="stats-grid">
        <div class="stat-item" *ngFor="let stat of stats">
          <div class="stat-value">{{ stat.value }}</div>
          <div class="stat-label">{{ stat.label }}</div>
        </div>
      </div>
    </div>
</div>
<div class="timeline-container">
    <h1>Experiência Profissional</h1>
    <app-timeline></app-timeline>
</div>

