.footer {
    font-family: Arial, sans-serif;
    padding: 40px 10px 20px;
    background-color: #ffffff;
    margin-top: 50px; /* Margem superior para afastar do conteúdo acima */
    max-width: 1200px; /* Limita a largura máxima */
    margin-left: auto;
    margin-right: auto;
  }
  
  .footer-links {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  
  .footer-links a {
    color: #333;
    text-decoration: none;
    padding: 8px 0;
    border-bottom: 1px solid #e0e0e0;
    font-size: 1.1rem; /* Aumenta o tamanho da fonte dos links */
    font-weight: 500;
  }
  
  .footer-links a:hover {
    color: #007bff;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
  }
  
  .footer-logo h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
  }
  
  .footer-description {
    flex: 1;
    margin-left: 40px;
    padding-left: 219px;
    font-size: 0.95rem;
    color: #666;
    line-height: 1.5;
  }
  
  .footer-copyright {
    font-size: 0.85rem;
    color: #999;
  }
  
  @media (max-width: 768px) {
    .footer {
      padding: 30px 5px 15px;
    }
  
    .footer-content {
      flex-direction: column;
    }
    
    .footer-description {
        padding-left: 0px;
        margin-left: 0px;
        margin-top: 20px;
     
        p {
          margin-left: 0px;
        }
    }
  }