<footer class="footer">
    <div class="footer-links">
      <a href="/sobre">Sobre</a>
      <a href="/contato">Contato</a>
      <a href="https://www.linkedin.com/in/seu-perfil" target="_blank" rel="noopener noreferrer">LinkedIn</a>
      <a href="https://github.com/seu-usuario" target="_blank" rel="noopener noreferrer">GitHub</a>
    </div>
    <div class="footer-content">
      <div class="footer-logo">
        <h2>Luã Falcão</h2>
      </div>
      <div class="footer-description">
        <p>Luã Falcão é um profissional de TI com {{ yearsOfExperience }} anos de experiência no desenvolvimento de aplicações empresariais onde vem atuando em diferentes projetos como Full-Stack, Front-end e Back-end com adoção de métodos ágeis e tecnologias web e mobile.</p>
      </div>
    </div>
  </footer>