<div class="projects-container">
    <h1 class="titulo-com-sombra">WORKS</h1>
    <div class="projects-grid">
      <app-project-card *ngFor="let project of projects"
        [imageSrc]="project.imagem"
        [title]="project.nome"
        [description]="project.descricao"
        [projectType]="project.tipo"
        [projectLink]="project.link"
        [projectTypeStyle]="project.tipo.toLowerCase()">
      </app-project-card>    
    </div>
</div>

  <!-- Botão "Ver mais" -->
  <div class="ver-mais-container">
    <button mat-raised-button color="primary" class="ver-mais-btn" (click)="goToProjects()">
     See more
    </button>
  </div>