<footer class="footer">
    <div class="footer-links">
      <a routerLink="/projetos" routerLinkActive="active">Works</a>
      <a routerLink="/sobre" routerLinkActive="active">About</a>
      <a (click)="abrirModal()">Contact me</a>
      <a href="https://www.linkedin.com/in/luafalcao/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
      <a href="https://github.com/lpjfalcao" target="_blank" rel="noopener noreferrer">GitHub</a>
    </div>
    <div class="footer-content">
      <div class="footer-logo">
        <h2 (click)="navigateToHome()">Luã Falcão</h2>
      </div>
      <div class="footer-description">
        <p>Luã Falcão is a professional in IT with {{ yearsOfExperience - 1 }} years of experience in developing enterprise applications where he has been working in different projects as Full-Stack, Front-end and Back-end with agile methods and web and mobile technologies.</p>
      </div>
    </div>
  </footer>
